* {
  box-sizing: border-box;
}

body {
  background-color: #54494b;
}

.contentContainer {
  background-color: #f1f7ed;
  margin: 10vh;
  height: 80vh;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#divsContainer {
  position: relative;
  width: 20vw;
  height: 20vh;

  border-style: dashed;
  border-width: 10px;
  border-color: #54494b;
}

#divsContainer > div {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
  transition-timing-function: ease-out;

  cursor: pointer;
}

#div1 {
  background-color: #91c7b1;
  transform: rotate(5deg);
}
#div1.spilled {
  transform: translate(200%, 200%) rotate(20deg);
}

#div2 {
  background-color: #b33951;
  transform: rotate(-5deg);
}
#div2.spilled {
  transform: translate(-150%, 100%) rotate(-10deg);
}

#div3 {
  background-color: #465775;
  transform: rotate(-2deg);
}
#div3.spilled {
  transform: translate(-150%, -80%) rotate(400deg);
}

#div4 {
  background-color: #e3d081;
  transform: rotate(2deg);
}
#div4.spilled {
  transform: translate(150%, -40%) rotate(70deg);
}
