#pageContainer {
  min-height: 100vh;
  background-color: #466365;

  display: flex;
  justify-content: center;
}

/* eyes vvvvvvvv */

#leftContainer {
  /* background-color: blue; */
  width: calc((100vw - 600px) / 2);

  display: flex;
  flex-direction: column;
  justify-content: start;

  overflow: hidden;

  padding-right: 30px;
  margin-top: -30px;
}

.leftRow {
  display: flex;
  flex-direction: row;
  justify-content: right;

  margin-bottom: -75px;
}

.leftRow .eye {
  margin-left: 66px;
}

.leftRow.LREven {
  margin-right: 108px;
}

#rightContainer {
  /* background-color: red; */
  width: calc((100vw - 600px) / 2);

  display: flex;
  flex-direction: column;
  justify-content: start;

  overflow: hidden;

  padding-left: 30px;
  margin-top: -30px;
}

.rightRow {
  display: flex;
  flex-direction: row;
  justify-content: left;

  margin-bottom: -75px;
}

.rightRow .eye {
  margin-right: 66px;
}

.rightRow.RREven {
  margin-left: 108px;
}

.eye {
  height: 150px;
  width: 150px;
  flex-shrink: 0;
  background-color: #eaeaea;

  border-radius: 100% 0px;
  transform: rotate(45deg);

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.pupil {
  background-color: #d5a021;
  width: 75px;
  height: 75px;

  border-radius: 50%;

  transform: rotate(-45deg) translate(0px, 0px);
}

.blinking {
  animation-name: scleraBlink;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes scleraBlink {
  0% {
    transform: scaleY(1) rotate(45deg);
  }
  5% {
    transform: scaleY(0) rotate(45deg);
  }
  100% {
    transform: scaleY(1) rotate(45deg);
  }
}

/* content vvvvvvvv */

#contentContainer {
  min-width: 600px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 4rem;
  font-weight: 800;
  font-family: sans-serif;

  color: white;
}
