* {
  box-sizing: border-box;
}

.welcome {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;

  border-style: dashed;
  border-width: 3px;
  margin: 5px;
}

.top-div {
  background-color: green;
  width: 200px;
  height: 100px;
}

.inner-div {
  background-color: goldenrod;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.coolspan {
  color: red;
  background-color: aqua;
  margin: 3rem;
}

body {
  color: white;
  background-color: darkgrey;
}

.animationtest1 {
  width: 100px;
  height: 100px;
  background-color: orange;
  animation-name: test1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.animationtest2 {
  width: 100px;
  height: 100px;
  background-color: orange;
}

@keyframes test1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}

.flashyHeaderContainer {
  position: relative;
  padding: 10px;
  margin: 1rem;

  z-index: 2;
}

.flashyHeader {
  font-size: 7rem;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 900;
}

.flashyShadow {
  position: absolute;
  top: 0;
  left: 0;
  color: #0eaa1b;
  z-index: -1;

  opacity: 0;
}
.flashyHeaderContainer:hover .flashyShadow {
  opacity: 1;
  animation: flashy1 2s steps(1) infinite, flashy2 0.8s steps(1) infinite, flashy3 1s steps(1) infinite;
}

.flashyspan {
  opacity: 0;
}

.flashyHeaderContainer:hover .flashyspan {
  opacity: 1;
}

.flashyHeaderContainer:hover {
  cursor: pointer;
}

@keyframes flashy1 {
  0% {
    color: #ffbf00;
  }
  10% {
    color: #e83f6f;
  }
  20% {
    color: #2274a5;
  }
  30% {
    color: #60e464;
  }
  40% {
    color: #ff52e5;
  }
  50% {
    color: #1f1c1e;
  }
  60% {
    color: #f3ff52;
  }
  70% {
    color: #ec6029;
  }
  80% {
    color: #0eaa1b;
  }
  90% {
    color: #958af3;
  }
  100% {
    color: #ffbf00;
  }
}

@keyframes flashy2 {
  0% {
    left: 0;
  }
  25% {
    left: 20px;
  }
  50% {
    left: 20px;
  }
  75% {
    left: 20px;
  }
  100% {
    left: 0;
  }
}

@keyframes flashy3 {
  0% {
    top: 0;
  }
  20% {
    top: 20px;
  }
  40% {
    top: 20px;
  }
  60% {
    top: 0;
  }
  80% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}

.divTestDiv {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  margin: 50px;

  background-color: #ec6029;
}

.divTestDiv {
  font-size: 7rem;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 900;

  writing-mode: vertical-lr;
  text-orientation: upright;
  background-color: #60e4643a;
}

.overlap {
  font-size: 3rem;
  display: inline-block;
}

.overlap1 {
  translate: -100% 0%;
}
.overlap2 {
  translate: -200% 0%;
}
h3 {
  margin-bottom: 15px;
}
a {
  font-family: sans-serif;
  color: #ffffff;
  background-color: #2274a5;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 2px;
  text-decoration: none;
}

a:hover {
  background-color: #e83f6f;
}
